experiment:
  project: "demo"
  name: ""
  output_dir: "/mnt/pfs/scalelab2/hms/MM-ACT/model_train"

model:
  mmact:
    pretrained_model_path: "/mnt/pfs/scalelab2/hms/MM-ACT/mm-act-10/LIBERO/MM-ACT-10"
    min_mot_layer: 0
    max_mot_layer: 1000

  use_continuous_head: True
  flow_matching_hidden_dim: 4096
  continuous_action_dim: 16 # Or 16 depending on robotwin
  
  vq_model:
    type: "magvitv2"
    vq_model_name: "/mnt/pfs/scalelab2/yitian-proj/MM-ACT/huggingface/hub/models--showlab--magvitv2/snapshots/5c3fa78f8b3523347c5cd1a4c97f3c4e96f33d5d"

dataset:
  combined_loader_mode: "max_size_cycle"
  frequency_ratio: 1 #Hz = original Hz / frequency_ratio
  original_dataset_len: True
  preprocessing:
    max_seq_length: 1120 #co image need to 1120-1200
  file_paths:
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/adjust_bottle/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/beat_block_hammer/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/click_bell/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/dump_bin_bigbin/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/lift_pot/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/move_playingcard_away/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/place_burger_fries/demo_clean"
    - "/mnt/pfs/scalelab2/hms/MM-ACT/data/RoboTwin/demo_clean/place_can_basket/demo_clean"

training:
  batch_size: 1 # total batch size = batch size *(co_action + co_t2i + co_mmu), co_* = 0/1
  co_action: True
  co_t2i: True
  co_mmu: True
  mmu_ignore_state: True
  freeze_backbone: True  # Strategy 1: Freeze Backbone
  mmu_learn_eos: False #if mmu generation learn to generate <eos>
  t2i_ignore_state: True
  num_epochs: 50
  chunk_size: 8
  noise_type: "mask"
  log_interval: 50
  mmu_weight: 0.05
  action_weight: 1.0
  t2i_weight: 0.05
  action_type: "ee"
  per_episode: 500
  is_clean_data: True
  predict_all_tokens: True #True if predict all action tokens in one step
  predict_all_image_tokens: False #True if predict all t2i tokens in one step
  mmu_eps: 1 #if predict all mmu tokens in one step,set 1.0,else set 1e-3
  # max_train_steps: 1000000
  dataprocess_nums: 16
  action_dim: 16
  action_loss_type: "single"
  use_prev_action: False
  save_step: 500


optimizer:
    name: adamw
    params: # default adamw params
        learning_rate: 5e-5
        scale_lr: False
        beta1: 0.9
        beta2: 0.999
        weight_decay: 0.01
        epsilon: 1e-8

lr_scheduler:
    scheduler: "cosine"
    params:
        learning_rate: ${optimizer.params.learning_rate}
        warmup_steps: 500
        min_lr_scale: 0.2